[Unit]
Description=noVNC Server
After=network.target

[Service]
ExecStart=/usr/bin/websockify --web /usr/share/webapps/novnc 6080 127.0.0.1:5900
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
